<h1>Question</h1>
<table ng-table="vm.tableParams" class="table" show-filter="true">
    <tr>
        <th ng-repeat="c in columns">{{c.text}}</th>
    </tr>
    <tr ng-repeat="c in questions">
        <td title="'ID'" filter="{ name: 'text'}" sortable="'name'">
            {{c.id}}</td>
        <td title="'CONTENT'" filter="{ age: 'content'}" sortable="'age'">
            <a href="" >{{c.content}}</a>
        </td>
        <td title="'CATEGORY'" filter="{ age: 'name'}" sortable="'age'">
            <a href="">{{c.name}}</a>
        </td>
        <td>
            <button type="button" class="btn btn-primary fa fa-edit" ng-click="open(c);"></button>
            <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="deleteQuestions(c);"></button>
        </td>
    </tr>
</table>
<button type="button" class="btn btn-danger fa fa-plus" ng-click="open(question);">&nbsp;Add New Question</button>
<div>
</div>