<h1>Detail Exam</h1>

<div class="row">
  <div class="col-xs-12 detail_exam_header">
  	<span>Name: <span style="font-size: 18px">{{examies[0].name}}</span></span><br>
  	<span>Open time: <span style="font-size: 18px">{{examies[0].open_time | date:'medium'}}</span></span><br>
  	<span>Close time: <span style="font-size: 18px">{{examies[0].close_time | date:'medium'}}</span></span><br>
  </div>

  <!-- <div style="float: right; padding-right: 270px;">
    <p>Total of Mark: </p> {{total_mark(examies[0])}}
  </div> -->

	<div class="content col-xs-12">
		<div ng-repeat="c in sections track by $index">
      <div class="header_section">
        <p class="col-xs-4">Session {{$index + 1}} </p>
  			<p class="col-xs-4" style="float: right;">Time : {{c.time_limit}} minutes</p>
      </div>

			<div class="row content_section">
        <table id="table" class="table table-hover">
          <tbody ng-repeat="question in c.question track by $index">
            <tr>
              <td>{{$index +1}}</td>
              <td>{{question.content}}</td>
              <td style="float: right;">
                <div class="col-xs-6">
                  <input type="number" class="form-control" ng-blur="getdetails(c, question)" ng-model="question.mark">
                </div>
              </td>
            </tr>
          </tbody>
        </table>
			</div>
		</div>
	</div>
</div>
