<h1>Danh sách sinh viên</h1>
<br />
<div class="row">
  <div ng-if="students.length != 0">
    <table class="table table-striped">
      <tr><th ng-repeat="c in columns">{{c.text}}</th></tr>
      <tr ng-repeat="c in students.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
        <td>{{$index + 1}}</td>
        <td>{{c.name}}</td>
        <td>{{c.email}}</td>
      </tr>
    </table>
    <div class="row" style="text-align: center;">
      <ul uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" items-per-page="itemsPerPage"></ul>
    </div>
  </div>
  <div ng-if="students.length == 0" style="border-top: 1px solid #e6e6e6;">
    <h3>Chưa có sinh viên nào được giáo viên upload</h3>
    <span style="text-align: center;"><button class="btn btn-default"><a href="http://localhost:3000/">Upload Student</a></button></span>
  </div>
</div>
