<button type="button" class="close" ng-click="cancel();">
  <i class="fa fa-times-circle-o" style="margin:10px;color:blue;"></i>
</button>
<div class="modal-header">
  <h3 class="modal-title">Questions</h3>
</div>
<div class="modal-body">
  <div class="row select_category">
    <select class="form-control" ng-model="category"
      ng-options="item.name for item in categories" ng-change="list_question_in_category()">
    </select>
  </div>
  <div class="row show_question">
    <div class="row"><p>List Questions</p></div>
    <table class="table">
      <thead>
        <tr>
          <th>STT</th>
          <th>Name</th>
          <th>Choose</th>
          <th>Mark</th>
        </tr>
      </thead>
      <tbody ng-repeat="question in questions track by $index">
        <tr>
          <td>{{$index + 1}}</td>
          <td>{{question.content}}</td>
          <td><input type="checkbox" ng-click="list_question_choose(question)"/></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <button type="button" class="btn btn-success pull-right"
    ng-click="create_section_question_by_choose_question()">&nbsp;Submit</button>
</div>
