<button type="button" class="close" ng-click="cancel();">
  <i class="fa fa-times-circle-o" style="margin:10px;color:blue;"></i>
</button>
<div class="modal-header">
  <p>Random question from an existing category</p>
  <h3 class="modal-title"></h3>
</div>
<div class="modal-body">
  <div class="question_random">
    <div class="row category">
      <div class="col-md-2 title_category">
        <p>Category</p>
      </div>
      <div class="col-md-8 categories">
        <select class="form-control" ng-model="category"
          ng-options="item.name for item in categories" ng-change="update()">
          <option value="">-- Select an option--</option>
        </select>
      </div>
    </div>
    <div class="row number_question_random">
      <div class="col-md-5">
        <p>Number Of Random Question</p>
      </div>
      <div class="col-md-2">
        <input type="number" class="form-control" name="question_random" min="0" ng-model="number_question_random" focus/>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-success" ng-click="push_question_section()">&nbsp;Add random Question</button>
</div>
