<div class="modal-header">
  <div ng-if="question.id == null" flex="20" layout="column">
    <h3 class="modal-title">Thêm câu hỏi</h3>
  </div>

</div>
<div class="modal-body">
  <div style="margin-bottom: 35px">
    <form>
      Chọn kiểu câu hỏi:
      <input type="radio" ng-model="question.type" value="FillWord">Câu hỏi điền từ
      <input type="radio" ng-model="question.type" value="TF">Câu hỏi đúng sai
      <input type="radio" ng-model="question.type" value="MulChoose">Câu hỏi lựa chọn
    </form>
  </div>
  
  <form name="userForm">
    <div layout-gt-sm="" >
      <div class="form-group clearfix">
        <label class="control-label col-sm-1 clear ">Tên:</label>
        <div class="col-sm-10"> 
          <input type="text" class="form-control clear" ng-model="question.title">
        </div>
      </div>
    <div layout-gt-sm="" >
      <div class="form-group clearfix">
        <label class="control-label col-sm-1">Nội dung:</label>
        <div class="col-sm-10"> 
          <textarea ng-model="question.content" class="col-xs-12" rows="6"></textarea>
        </div>
      </div>
    </div>
    <div>
      <div class="form-group clearfix">
        <label class="control-label col-sm-1">Chủ đề</label>
        <div class="col-sm-6"> 
          <select class="form-control select_question" id="category" name="category" ng-model="question.category_id" class="col-xs-6">
            <option ng-repeat="category in categories" ng-selected="question.category_id == category.id " value="{{category.id}}" >{{category.name}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="clearfix" style="margin-bottom: 20px">
      <div id="direct_upload" 
      ngf-drop="uploadFiles($files)"
      ngf-drag-over-class="dragOverClass($event)"
      ng-model="files"
      ng-multiple="true" class="col-xs-1 clearfix" style="display: block;">
          <div class="form_line clearfix">
              <label>File:</label>
              <div class="form_controls">
                  <div class="upload_button_holder">
                      <div href="#" class="upload_button" ngf-select="uploadFiles($files)" multiple title="upload" resetOnClick="true"><button class="btn btn-sm btn-success">Upload</button> </div>
                  </div>
                  
              </div>
          </div>
      </div>
      <div class="file clearfix" ng-repeat="file in files" style="display: block;">
          <div>
            <input type="hidden" name="" ng-model="question.file" value="file.result.url">
          </div>
          <h3>{{file.name}} {{f.$error}} {{f.$errorParam}}</h3>
          <div class="status">{{file.status}}</div>
          <div class="progress-bar">
            <div class="progress" style="width: {{file.progress}}%" ng-init="progress=0"></div>
          </div>
          <div class="form_line">
              <div class="form_controls">
                  <div class="preview images_upload">
                      <img src="{{question.file}}" style="width: 450px; height: 200px">
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div ng-switch="question.type" class="clearfix">
      <div ng-switch-when="FillWord">
        <div layout-gt-sm="" >
          <div class="form-group clearfix " style="margin-left: -15px">
            <label class="control-label col-sm-1">Đáp án:</label>
            <div class="col-sm-10"> 
              <textarea ng-model="question.answers.content" class="col-xs-12" rows="3"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div ng-switch-when="TF">
        <div>
          <div layout-gt-sm="">

            <md-input-container class="md-block " flex-gt-sm>
              <input type="radio" ng-model="question.answers.tf" value="1">Đúng
              <input type="radio" ng-model="question.answers.tf" value="0">Sai
            </md-input-container>
          </div>
        </div>
      </div>
      <div ng-switch-when="MulChoose">
        <div style="display: block;">
          <div ng-repeat="answer in question.answers  track by $index">
          
              <div layout-gt-sm="">
                  <div class="form-group clearfix">
                    <label class="control-label col-sm-2">Đáp án {{ $index + 1 }}:</label>
                    <div class="col-sm-10"> 
                      <textarea ng-model="answer.content" class="col-xs-12" rows="3"></textarea>
                    </div>
                  </div>
                  <div class="form-group clearfix">
                    <label class="control-label col-sm-2">Phần trăm điểm:</label>
                    <div class="col-sm-10"> 
                    <input type="number" ng-model="answer.grade" class="col-xs-6">
                    </div>
                  </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    
    <form-element>
      <div class="" style="margin-top: 15px">
        <button ng-click="saveQuestion($files);" class="btn btn-sm btn-primary" type="submit">
          <i class="ace-icon fa fa-check"></i>Thêm câu hỏi mới</button>
      </div>
    </form-element>
    
  </form>
  
  
    
</div>

  
</div>
