<button type="button" class="close" ng-click="cancel();">
  <i class="fa fa-times-circle-o" style="margin:10px;color:blue;"></i>
</button>
<div class="modal-header">
  <h3 class="modal-title">Chủ đề</h3>
</div>
<div class="modal-body">
  <form name="product_form" class="form-horizontal" role="form" novalidate>
    <div class="row">
      <div class="col-md-3">
        <label>Tên</label>
      </div>
      <div class="col-md-9">
        <div class="form-group">
          <input type="text" class="form-control" name="name" placeholder="tên" ng-model="category.name" ng-disabled="category.id" focus/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label>Mô tả</label>
      </div>
      <div class="col-md-9">
        <div class="form-group">
          <textarea class="form-control" name="descriptions" placeholder="mô tả" ng-model="category.descriptions">{{category.description}}</textarea>
        </div>
      </div>
    </div>

    <div class="space"></div>
    <div class="space-4"></div>
    <div class="modal-footer">
      <form-element label="">
        <div class="text-right">
          <a class="btn btn-sm" ng-click="cancel()"><i class="ace-icon fa fa-reply"></i>Cancel</a>
          <button ng-click="saveCategory(category);"
            ng-disabled="category_form.$invalid || enableUpdate"
            class="btn btn-sm btn-primary"
            type="submit">
            <i class="ace-icon fa fa-check"></i>{{buttonText}}
          </button>
        </div>
      </form-element>
    </div>
  </form>
</div>
