<!-- <h1>Exam</h1>

	{{id_exam}}
<div>
</div>	{{sections}} -->
<h1>Detail Exam</h1>

<div class="row">
  <div class="col-xs-12">
  	<span>Name examplies: <span style="font-size: 18px">{{examies[0].name}}</span></span><br>
  	<span>Open time: <span style="font-size: 18px">{{examies[0].open_time}}</span></span><br>
  	<span>Close time: <span style="font-size: 18px">{{examies[0].close_time}}</span></span><br>
  </div>
	<div class="content col-xs-12">
		<div ng-repeat="c in sections">
			<p class="col-xs-4">Sesions : {{c.id}} </p>
			<p class="col-xs-4">Time_limit : {{c.time_limit}}</p>
			
			<div class="row">
				<div class="col-xs-offset-1 col-xs-11" ng-repeat="question in c.question" >
					<p class="col-xs-12">Questions</p>
						<span class="col-xs-11">Content {{question.content}}</span>
						<span class="col-xs-1">Mark {{question.mark}}</span> 
				</div>
			</div>
		</div>
	</div>	

</div>